<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Crear Cuenta Walmart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-margin-bottom">
    <ion-icon name="person-add-outline" style="font-size: 64px; color: var(--ion-color-primary);"></ion-icon>
    <h2>¡Únete a nosotros!</h2>
    <p>Crea tu cuenta para empezar a comprar</p>
  </div>

  <ion-list lines="inset">
    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="newUser.email" placeholder="ejemplo@correo.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newUser.password" placeholder="Mínimo 6 caracteres"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding-top">
    <ion-button expand="block" shape="round" (click)="registrar()">
      Registrarme
    </ion-button>
    
    <ion-button expand="block" fill="clear" routerLink="/login">
      ¿Ya tienes cuenta? Inicia Sesión
    </ion-button>
  </div>
</ion-content>